<! DOCTYPE html >
<html lang="en">
<head>
  <title>Your Bookmark Library</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> 
    -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      
      <a href="{% url 'bookmarks:index' %}" class="navbar-brand"><font color="red">
	  Y</font>PBL
      </a>
      <a href="{% url 'bookmarks:index' %}" class="navbar-brand">
        <font size=-1>[ <font color="ff0000">{{ user.get_username }}</font> ]</font>
      </a>
    </div>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
	<!-- Dropdown menu -->
	<li ><a href="{% url 'bookmarks:index' %}">Bookmarks</a></li>
      </ul>
      <!-- aligned Right -->
      <ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'bookmarks:userlogout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" id="content">
  {% block content %}{% endblock %}
</div>


</body>
</html>
