{% extends "bookmarks/base_out.html" %}

{% block content %}

<!-- Messages -->

{% if newUserName %}

<div class="container-fliud">
  <div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% if newUserName == "Username already exists" %} 
    {{ newUserName }}, please choose another.
    {% else %}
    Create account for user <b> {{ newUserName }}</b>
    {% endif %}
  </div>
</div>

{% endif %}



<!-- Page Header - Quote -->
<div class="container-fluid" id="header">
  <h1>Your Personal Bookmark Library (YPBL) Service</h1>
  <div class="row">
    <div class="col-md-4" style="background-color: #ff0000">&nbsp;</div>
    <div class="col-md-4" style="background-color: #111111">&nbsp;</div>
    <div class="col-md-4" style="background-color: #999999">&nbsp;</div>
    <p>&nbsp;
      <blockquote>
        To build up a library is to create a life. It’s never just a random collection of books.
        <footer>Carlos María Domínguez</footer>
      </blockquote>
  </div>
</div>



<!-- Login -->
<form action="{% url 'bookmarks:userlogin' %}" method="post" class="form-inline">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>

{% endblock %}

